@import "partials/header";
@import "partials/footer";
@import "partials/inicio";
@import "partials/wallpapers";
@import "./partials/cards.scss";
@import "./sass2/maps";
@import "./partials/guias.scss";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.contenido{
    background-image: url(../img/fondo-jugador.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}



@media screen and (max-width:1366px){
    .container{
        max-width: 100%;
        max-height: 100%;
        margin: 0;
    }
    
    
    .contenido{
        height: 100vh;
        width: 100vw;
        font-family: 'Roboto', sans-serif;
    }
    
    
    .contenido h1{
        font-size: 120px;
        margin-left: 150px;
        margin-top: 220px;
    }
    
    .contenido p{
        font-size: 160px;
        font-weight: bolder;
        color: blueviolet;
        margin-left: 150px;
        margin-top: -200px;
    }
    
    
    .grupo-1 .box img{
        height: 75px;
        width: 75px;
    }


}

@media screen and (max-width: 800px){
    main{
        .video-grid{
            --gap:40px;
            --num-cols: 2;
            --row-height: 300px;
        
            box-sizing: border-box;
            padding: var(--gap);
        
            display: grid;
            grid-template-columns: repeat(var(--num-cols), 1fr);
            grid-auto-rows: var(--row-height);
            gap: var(--gap);
        }
        .video-grid > iframe{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .image-grid{
            --gap:16px;
            --num-cols: 2;
            --row-height: 300px;
        
            box-sizing: border-box;
            padding: var(--gap);
        
            display: grid;
            grid-template-columns: repeat(var(--num-cols), 1fr);
            grid-auto-rows: var(--row-height);
            gap: var(--gap);
        }
        .image-grid > img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

@media screen and (max-width: 380px){
    main{
        .video-grid{
            --gap:40px;
            --num-cols: 1;
            --row-height: 300px;
        
            box-sizing: border-box;
            padding: var(--gap);
        
            display: grid;
            grid-template-columns: repeat(var(--num-cols), 1fr);
            grid-auto-rows: var(--row-height);
            gap: var(--gap);
        }
        .video-grid > iframe{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .image-grid{
            --gap:16px;
            --num-cols: 1;
            --row-height: 300px;
        
            box-sizing: border-box;
            padding: var(--gap);
        
            display: grid;
            grid-template-columns: repeat(var(--num-cols), 1fr);
            grid-auto-rows: var(--row-height);
            gap: var(--gap);
        }
        .image-grid > img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

@media screen and (max-width: 800px){
    
    .contenido h1{
        font-size: 80px;
        margin-left: 150px;
        margin-top: 220px;
    }
    
    .contenido p{
        font-size: 120px;
        font-weight: bolder;
        color: blueviolet;
        margin-left: 150px;
    }

}

@media screen and (max-width: 600px){
    .contenido h1{
        font-size: 60px;
        margin-left: 50px;
        margin-top: 220px;
    }
    
    .contenido p{
        font-size: 80px;
        font-weight: bolder;
        color: blueviolet;
        margin-left: 50px;
    }

}


