
.contenido{
    font-family: $fuente;
    h1{
        color: white;
        font-size: 180px;
        margin-left: 150px;
        margin-top: 220px;
        text-shadow: 3px  0px 0px black,
        0px  3px 0px black,
        -3px  0px 0px black,
        0px -3px 0px black;
    }
    p{
        font-size: 200px;
        font-weight: bolder;
        color: $color;
        margin-left: 150px;
        margin-top: -250px;
        text-shadow: 3px  0px 0px white,
        0px  3px 0px white,
        -3px  0px 0px white,
        0px -3px 0px white;
    }
    .control{
        height: 550px;
        width: 850px;
        transform: rotate(15deg);
        margin-left: 800px;
        margin-top: -700px;
    }
    .play img{
        height: 120px;
        width: 120px;
        margin-left: 300px;
        margin-top: 10px;
    }
}